<article id="<%= post.layout %>-<%= post.slug %>"
  class="md-card article-card article-type-<%= post.layout %>" itemprop="blogPost">

    <div class="post-meta">
        <%- partial('post/date', {post: post, date_format: config.date_format}) %>
        <%- partial('post/category', {post: post}) %>
    </div>

    <%- partial('post/title', {post: post, hasLink: true}) %>

    <div class="post-content" id="post-content" itemprop="postContent">
        <% if(theme.excerpt_render) { %>
            <%- post.excerpt || post.content %>
        <% } else { %>
            <%- post.excerpt ? strip_html(post.excerpt) : truncate(strip_html(post.content), {
                length: theme.excerpt_length
            }) %>
        <% } %>
        
        <div class="post-more-wrap">
            <a href="<%- url_for(post.path) %>" class="md-btn md-btn-tonal post-more">
                <%= __('post.continue_reading') %>
            </a>
        </div>
    </div>
    
    <% if(post.tags && post.tags.length){ %>
    <div class="post-footer">
        <%- partial('post/tag', {post: post}) %>
    </div>
    <% } %>
</article>
