<%
    var sUrl = url.replace(/index\.html$/, '')
    var sTitle = page.title ? '《'+ page.title +'》 — ' + config.title : config.title
    var sDesc = truncate(strip_html(page.excerpt || config.description), { length: 80})
    var sPic = page.photos && page.photos.length ? page.photos[0]
        : (/^(http:|https:)?\/\//.test(theme.avatar) ? theme.avatar
            : config.url.replace(/\/$/, '') + theme.avatar)
%>

<div class="<%- scope %>-share <% if(scope === 'global') { %>md-dialog<% } %>" id="<%- scope %>Share">
    <% if(scope === 'global') { %>
    <a class="close md-icon-button" href="javascript:;" title="Close">
        <span class="material-symbols-outlined">close</span>
    </a>
    <h5 class="share-title">分享到</h5>
    <% } %>
    <ul class="reset share-icons flex-row flex-middle flex-justify-between">
      <li>
        <a class="weibo share-sns" target="_blank" href="http://service.weibo.com/share/share.php?url=<%-sUrl%>&title=<%-sTitle%>&pic=<%-sPic%>" data-title="Weibo">
          <svg class="sns-svg" viewBox="0 0 1024 1024"><path d="M407.458 644.256c-11.108 18.06-34.908 26.548-52.922 18.898-18.058-7.666-23.774-28.026-12.678-46.074 11.104-18.072 34.93-26.574 52.932-18.91 18.064 7.644 23.766 28.04 12.668 46.086zM358.332 581.18c-5.006 8.358-15.82 12.196-24.086 8.524-8.318-3.642-10.962-13.064-5.962-21.43 5.02-8.362 15.808-12.194 24.116-8.52 8.318 3.654 10.924 13.066 5.932 21.426z m52.56-91.864c-35.886 9.426-78.694 29.832-104.992 56.402-42.502 42.928-40.404 96.06 6.27 129.81 48.064 34.726 119.536 34.336 171.936-0.784 41.564-27.874 48.064-69.596 23.47-97.106-7.854-8.796-22.39-16.14-16.79-24.966 11.458-18.06 25.106-38.308 25.59-57.062 0.772-29.818-20.916-43.906-44.57-41.242-23.014 2.598-44.976 13.568-60.914 34.948zM874.154 366.52c-46.06-53.794-114.934-86.726-191.074-91.056-18.096-1.026-33.566 12.796-34.596 30.898-1.036 18.092 12.79 33.57 30.892 34.598 56.764 3.228 108.106 27.766 142.434 67.872 34.332 40.096 46.592 92.176 34.512 146.684-3.95 17.822 7.202 35.342 25.02 39.294 17.826 3.948 35.352-7.206 39.294-25.028 16.184-73.04 0-142.842-46.482-197.262z m-116.592 96.69c-20.918-24.412-52.174-39.378-86.732-41.344-18.068-1.026-33.566 12.796-34.596 30.898-1.036 18.092 12.79 33.57 30.892 34.598 12.44 0.706 23.636 6.096 31.144 14.868 7.502 8.784 10.188 20.17 7.546 32.08-3.942 17.824 7.202 35.344 25.028 39.29 17.822 3.95 35.344-7.2 39.29-25.02 5.3-23.864 0-46.7-12.572-65.37z m-269.45 237.206c-112.502 61.26-258.918 64.912-326.698 8.168-67.922-56.882-31.52-156.402 81.332-221.758 112.53-65.258 260.672-69.578 328.6-12.736 67.914 56.85 31.42 156.924-83.234 226.326z m5.852-329.13c-15.654-20.678-43.164-28.74-67.626-20.596-4.664 1.554-9.33 4.14-13.164 7.252-8.318 6.74-10.398 18.66-4.664 27.994 5.726 9.324 17.654 12.442 26.978 7.256l1.036-0.784c9.33-3.116 19.18-0.258 24.896 7.254 5.726 7.514 5.19 18.152-1.026 24.886-36.888 38.358-106.878 57.028-164.444 42.496-51.36-12.96-85.088-51.81-85.088-98.442 0-38.358 22.308-72.548 58.598-89.658 9.342-4.408 13.51-15.544 9.352-24.88-4.148-9.336-15.556-13.486-24.896-9.336-47.726 22.544-77.066 67.37-77.066 117.896 0 62.186 45.144 114.53 113.626 131.626 76.246 19.198 168.082-5.432 216.89-56.24 9.61-9.988 8.82-26.046-1.572-35.034l-2.85-2.54z"></path></svg>
        </a>
      </li>
      <li>
        <a class="weixin share-sns wxFab" href="javascript:;" data-title="WeChat">
          <svg class="sns-svg" viewBox="0 0 1024 1024"><path d="M578.47 508.62c0-87.35 91.03-158.17 203.32-158.17 112.28 0 203.32 70.82 203.32 158.17s-91.03 158.17-203.32 158.17c-22.75 0-44.59-2.91-65.06-8.31l-58.82 32.5c-9.06 5.01-19.67-1.12-19.67-11.45v-44.87c-38.16-30.82-62.88-75.33-62.88-126.04z m162.66-24.62c0-9.87-8.03-17.91-17.91-17.91s-17.91 8.03-17.91 17.91 8.03 17.91 17.91 17.91 17.91-8.03 17.91-17.91z m81.4 0c0-9.87-8.03-17.91-17.91-17.91s-17.91 8.03-17.91 17.91 8.03 17.91 17.91 17.91 17.91-8.03 17.91-17.91zM425.26 271.49c0-112.31 117.04-203.36 261.42-203.36 144.37 0 261.42 91.05 261.42 203.36 0 112.31-117.04 203.36-261.42 203.36-29.25 0-57.34-3.75-83.67-10.69l-75.64 41.79c-11.66 6.44-25.29-1.44-25.29-14.73v-57.7c-49.07-39.64-80.86-96.88-80.86-162.03z m208.6-31.65c0-12.7 10.33-23.03 23.03-23.03s23.03 10.33 23.03 23.03-10.33 23.03-23.03 23.03-23.03-10.33-23.03-23.03z m104.66 0c0-12.7 10.33-23.03 23.03-23.03s23.03 10.33 23.03 23.03-10.33 23.03-23.03 23.03-23.03-10.33-23.03-23.03zM38.89 423.86c0-129.24 134.69-234.02 300.83-234.02 81.33 0 155.05 25.17 207.24 66.08-118.06 17.94-208.31 106.84-208.31 213.91 0 119.53 113.82 216.53 254.21 216.53 13.93 0 27.65-0.96 41.01-2.82-27.17 65.41-99.3 111.45-184.28 111.45-33.66 0-65.99-4.32-96.28-12.3l-87.05 48.09c-13.41 7.41-29.1-1.65-29.1-16.95v-66.39C132.68 603.95 38.89 535.19 38.89 423.86z m204.38-36.42c0-14.61-11.89-26.5-26.5-26.5s-26.5 11.89-26.5 26.5 11.89 26.5 26.5 26.5 26.5-11.89 26.5-26.5z m120.44 0c0-14.61-11.89-26.5-26.5-26.5s-26.5 11.89-26.5 26.5 11.89 26.5 26.5 26.5 26.5-11.89 26.5-26.5z"></path></svg>
        </a>
      </li>
      <li>
        <a class="qq share-sns" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=<%-sUrl%>&title=<%-sTitle%>&source=<%-sDesc%>" data-title="QQ">
          <svg class="sns-svg" viewBox="0 0 1024 1024"><path d="M819.2 563.2c0-111.75-87.62-230.4-256-230.4s-256 118.66-256 230.4c0 30.63 6.94 65.68 20.35 101.99-19.16 10.9-45.98 29.84-63.55 60.01-18.06 31.02-12.82 66.86-5.83 80.8 17.5 34.92 78.43 27.67 92.42 24.89 12.81-2.54 28.53-7.55 45.47-14.28 41.3 49.33 97.43 78.59 167.14 78.59s125.84-29.27 167.14-78.59c16.95 6.74 32.66 11.74 45.47 14.28 13.99 2.78 74.92 10.02 92.42-24.89 7-13.94 12.24-49.78-5.83-80.8-17.57-30.17-44.39-49.11-63.55-60.01 13.41-36.31 20.35-71.36 20.35-101.99z m-358.4 25.6c0-14.15 11.45-25.6 25.6-25.6s25.6 11.45 25.6 25.6-11.45 25.6-25.6 25.6-25.6-11.45-25.6-25.6z m179.2 0c0-14.15 11.45-25.6 25.6-25.6s25.6 11.45 25.6 25.6-11.45 25.6-25.6 25.6-25.6-11.45-25.6-25.6zM512 0C229.23 0 0 229.23 0 512s229.23 512 512 512 512-229.23 512-512S794.77 0 512 0z m0 960c-247.42 0-448-200.58-448-448S264.58 64 512 64s448 200.58 448 448-200.58 448-448 448z"></path></svg>
        </a>
      </li>
      <li>
        <a class="facebook share-sns" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%-sUrl%>" data-title="Facebook">
          <svg class="sns-svg" viewBox="0 0 1024 1024"><path d="M512 0C229.25 0 0 229.25 0 512s229.25 512 512 512 512-229.25 512-512S794.75 0 512 0z m153.6 512h-85.33v256h-102.4v-256H426.67v-85.33h51.2v-51.2c0-70.52 34.02-119.47 119.47-119.47h68.27v85.33h-42.67c-32.32 0-34.13 12.08-34.13 34.13v51.2h85.33L665.6 512z"></path></svg>
        </a>
      </li>
      <li>
        <a class="twitter share-sns" target="_blank" href="https://twitter.com/intent/tweet?text=<%-sTitle%>&url=<%-sUrl%>&via=<%-config.url%>" data-title="Twitter">
          <svg class="sns-svg" viewBox="0 0 1024 1024"><path d="M512 0C229.25 0 0 229.25 0 512s229.25 512 512 512 512-229.25 512-512S794.75 0 512 0z m243.67 384c0 4.67 0.17 9.33 0.17 14 0 143.1-109 308.02-308 308.02-61.13 0-118.02-17.92-166.02-48.69 8.48 1 16.97 1.49 25.64 1.49 50.73 0 97.4-17.3 134.42-46.36-47.38-0.89-87.42-32.22-101.19-75.32 6.6 1.25 13.38 1.91 20.35 1.91 9.87 0 19.5-1.32 28.66-3.8-49.52-9.96-86.84-53.7-86.84-106.27 0-4.62 0-9.11 0.17-13.6 14.59 8.1 31.28 12.97 49.02 13.53-29.06-19.42-48.19-52.61-48.19-90.1 0-19.86 5.34-38.48 14.68-54.51 53.38 65.48 133.15 108.57 223.1 113.1-1.85-7.94-2.82-16.23-2.82-24.74 0-59.93 48.58-108.52 108.52-108.52 31.2 0 59.41 13.16 79.2 34.25 24.71-4.85 47.92-13.9 68.86-26.31-8.1 25.33-25.27 46.59-47.67 60 21.94-2.62 42.87-8.45 62.3-17.08-14.53 21.73-32.93 40.78-54 56.02z"></path></svg>
        </a>
      </li>
      <li>
        <a class="telegram share-sns" target="_blank" href="https://t.me/share/url?url=<%-sUrl%>&text=<%-sTitle%>" data-title="Telegram">
          <svg class="sns-svg" viewBox="0 0 1024 1024"><path d="M512 0C229.25 0 0 229.25 0 512s229.25 512 512 512 512-229.25 512-512S794.75 0 512 0z m221.75 329.81L655.8 743.76c-6.19 27.53-22.5 34.33-45.56 21.43l-118.88-87.65-57.34 55.15c-6.35 6.35-11.68 11.68-23.95 11.68l8.52-120.91 220.06-198.81c9.57-8.52-2.08-13.25-14.85-4.73L351.98 558.11 234.8 521.5c-25.48-7.97-26-25.48 5.31-37.75l457.6-176.43c21.19-7.97 39.73 4.7 36.04 22.49z"></path></svg>
        </a>
      </li>
    </ul>
 </div>

<% if(scope === 'global') { %>
<div class="md-dialog wx-share" id="wxShare">
    <a class="close md-icon-button" href="javascript:;" title="Close">
        <span class="material-symbols-outlined">close</span>
    </a>
    <p class="wx-share-title">Scan QR code to share on WeChat</p>
    <div class="wx-qrcode flex-row flex-middle flex-justify-center">
        <img src="<%- 'qrcode' in locals ? qrcode(sUrl) : '//api.qrserver.com/v1/create-qr-code/?data=' + encodeURIComponent(sUrl) %>" alt="WeChat QR Code">
    </div>
</div>
<% } %>
